{
    "user_id": "",  // your spotify username
    "client_id":"", // found when creating a spotify application
    "client_secret": "", // found when creating a spotify application
    "redirect_uri": "http://localhost:9999/auth/callback"  // fixed for this application
}
